###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
shit cult/Logs/shadercompiler-UnityShaderCompiler.exe-0.log
shit cult/.vs/shit cult/v17/DocumentLayout.backup.json
shit cult/.vs/shit cult/v17/DocumentLayout.json
shit cult/Logs/AssetImportWorker0-prev.log
shit cult/Logs/AssetImportWorker0-prev.log
shit cult/Logs/AssetImportWorker0-prev.log
/shit cult/Logs
shit cult/UserSettings/Layouts/default-6000.dwlt
shit cult/UserSettings/Layouts/default-6000.dwlt
/shit cult/UserSettings
/shit cult/UserSettings/Layouts
shit cult/Logs/AssetImportWorker0-prev.log
shit cult/Logs/AssetImportWorker1-prev.log
shit cult/UserSettings/Layouts/default-6000.dwlt
shit cult/Logs/AssetImportWorker0-prev.log
